
@{
    //ViewData["Title"] = "welcome";
}
@*<h1>@ViewData["Title"]</h1>
<h1>AVINASH</h1>
<p>@DateTime.Now</p>*@

@Html.ActionLink("Show All Employee","GetEmployee","Employee")
@model EmployeeModel;
@using (Html.BeginForm("GetEmployee", "Employee", FormMethod.Post))
    {
        @Html.Label("First Name:")<br/>
        @Html.TextBoxFor(m=>m.FirstName);<br />
        @Html.Label("Last Name:")<br/>
        @Html.TextBoxFor(m=>m.LastName);<br />
        @Html.Label("Employee Id:")<br/>
        @Html.TextBoxFor(m=>m.EmpId);<br />

        <input type="submit" value="Save">
    }